.logincard{
  width: 75%;
  margin: 10px auto;
}

.registercard{
  width: 50%;
  margin: 10px auto;
}

.logincard-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

